main {
    padding: 5rem 0;
    /* max-width: 144rem; */
    margin: 0 auto;
    margin-top: 10rem;
    position: relative;
    z-index: 2;
}

h1 {
    font-family: 'Quicksand',
    sans-serif;
    font-size: 3rem;
    font-weight: 600;
    line-height: 3.5rem;
    text-align: left;
    color: #000000;
}

.exploreStoreSubHeading {
    font-family: 'Quicksand',
        sans-serif;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 2.6rem;
    text-align: left;
    text-transform: capitalize;
}

.storeCard {
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 0px 13.86px 0.92px #2E3B7F1A;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 2rem;
}

.storeCard-img {
    width: 100%;
    margin-bottom: 1.5rem;
}

.storeCard-img img {
    width: 100%;
    display: block;
    object-fit: cover;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.storeCard-body h2 {
    font-family: 'Quicksand',
        sans-serif;
    font-size: 2.6rem;
    font-weight: 500;
    line-height: 3.2rem;
    text-align: left;
    color: #000000;
}

.storeCard-price {
    font-family: 'Quicksand',
        sans-serif;
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.5rem;
    text-align: left;
    color: #3771FF;
    margin: 1rem 0;
}

.storeCard-body p {
    font-family: 'Quicksand',
        sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2rem;
    text-align: left;
    margin: 0.5rem 0;
}

.storeCard-body span {
    font-size: 1.6rem;
}